h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Karmatic Arcade", serif;
}

body,
p {
  background-color: #00509b;
  margin: 0;
  padding: 0;
  font-family: "Sansation_Regular", sans-serif;
  font-size: 16px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  margin: 0;
  padding: 0;
  font-family: "Karmic-Arcade", sans-serif;
  font-size: 20px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #63c7d4;
  font-family: "Sansation_Regular", sans-serif;
  font-size: 16px;
}

.container {
  display: flex;
  align-content: space-around;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Karmic-Arcade";
  src: local("Karmic-Arcade"), url(./Karmic-Arcade.ttf) format("truetype");
}

@font-face {
  font-family: "Sansation_Regular";
  src: local("Sansation_Regular"),
    url(./Sansation_Regular.ttf) format("truetype");
}
